.category-title {
    margin: 25px;
}

.btn-content {
    display: flex;
    font-size: 18px;
    min-width: 260px;
    flex-wrap: wrap;
}

.btn-item {
    color: #fff;
    padding: 6px 13px;
    border: none;
    background-color: #ff9a07;
	border-radius: 4px;
    margin: 3px;
    cursor: pointer;
    width: 90px;
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
}

.btn-item:hover {
	background-color: #10ab00;
}

.btn-item:focus {
    background-color: #10ab00;
}

.category-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	border-radius: 4px;
	margin: 0 auto;
	padding: 15px 15px;
    color: #fff;
}

.category {
    margin: 30px;
	text-decoration: none;
	color: inherit;
    align-content: center;
    transition: auto;
    transition-duration: 30ms;
}

.category:hover {
    transform: scale(1.05);
}

.category-image {
	width: 200px;
	height: 270px;
}

.category-text {
    padding-top: 8px;
    font-weight: 400;
	font-size: 14px;
    text-align: center;
    max-width: 195px;
}
.category-text:hover {
    color: #10ab00;
}
.category-name {
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .category-title {
        flex-direction: column;
        text-align: center;
    }
    .category-main {
        justify-content: center;
    }
    .category {
        flex-direction: column;
    }
    .category-text {
        align-items: center;
    }
}

@media screen and (max-width: 1100px) {
    .btn-content {
        margin: 0 auto;
   }
}