.mainFooter {
	display: flex;
	justify-content: space-between;
    align-items: center;
	height: 84px;
	margin-top: 30px;
	color: #ff9a07;

	.description {
        font-weight: 500;
		padding: 5px;
	}
	.date {
		font-weight: 400;
		padding: 5px;
	}

	.bio {
        font-weight: 400;
		font-size: 18px;
		display: flex;
		flex-direction: column;
		padding: 5px;
		.madeBy {
			font-size: 12px;
			margin-top: 0px;
		}
	}
}

@media screen and (max-width: 600px) {
	.mainFooter {
		flex-direction: column;
	}
	.bio {
		.madeBy {
			text-align: center;
		}
	}
}