.image-content {
	position: relative;
}
.img-title {
	color: #ff9a07;
	position: absolute;
	font-style: normal;
	top: 50%;
	left: 10%;
	font-weight: 400;
	font-size: 23px;
	line-height: 41px;
	width: 300px;
}
.img-head {
	max-height: 450px;
	border-radius: 4px;
	width: 100%;
}
.main-page {
	background-repeat: no-repeat;
	height: auto;
	margin: 0 auto;
	padding: 30px 30px;
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
}
.film {
	width: 200px;
	height: 270px;
	color: #fff;
	margin: 30px;
	text-decoration: none;
	padding-bottom: 40px;
	transition: auto;
    transition-duration: 30ms;
}
.film:hover {
    transform: scale(1.05);
}

.film-image {
	width: 200px;
	height: 270px;
}
.film-image:hover {
	box-shadow: 0 5px 15px #fdf7f74d;
}

.film-title {
	text-align: center;
}
.film-title:hover {
	color: #10ab00;
}

.name {
	padding-top: 8px;
	font-weight: 600;
	font-size: 14px;
}

.country, .genres {
	font-size: 14px;
}

@media screen and (max-width: 850px) {
	.img-title {
		font-size: 17px;
		width: auto;
	}
}
@media screen and (max-width: 600px) {
	.img-title {
		font-size: 13px;
		top: 35%;
	}
}